{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block js %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block contenido %}




<main class="main">
<br>
  <div class="contenedor">

    <div class="row">
      <div class="col-12 col-md-9 offset-md-3">
        <div class="card">

          <div class="card-body">

            <br>
            <br>
            <h2>Registro  Usuario</h2>
            <hr>
            <hr>
            <form action="" method="post">

              {% csrf_token %}
              {{ form | crispy }}
              <br>
              <a href="{% url 'home'%}">Ir a Home</a>

              <a href="{% url 'login'%}">Iniciar Sesión</a>

              <input type="submit" value="Registrar" class="btn btn-success float-right">

            </form>

          </div>

        </div>

      </div>

    </div>




  </div>

</main>
<br>
<br>
{% endblock %}
