{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<main>
<br>
  <div class="contenedor">

    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <br>
        <br>
        <br>
        <br>
        <div class="card-body">
          <br>
          <br>
          <h2>Registro  Usuario</h2>
          <hr>
          <hr>
          <form action="" method="post">

            {% csrf_token %}
            {{ form }}
            <br>
            <a href="{% url 'home'%}">Ir a Home</a>

            <a href="{% url 'login'%}">Iniciar Sesión</a>

            <input type="submit" value="Registrar" class="btn btn-success float-left">

          </form>

        </div>

      </div>

    </div>


  </div>

</main>
<br>
<br>
{% endblock %}
