{% extends 'app/base.html' %}
{% load static %}

{% block js%}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

{% endblock %}

{% block contenido %}
<main>
  <div class="contenedor">
    <div class="galeria">

      {% for image in images %}

      <a data-fancybox="gallery" href="{{image.image.url}}">
        <img src="{{image.image.url}}"></a>

      {% endfor %}


    </div>

  </div>
</main>


{% endblock %}






















{% load static %}
{% for image in images %}
  <img src="{{image.image.url}}" alt="{{image.name}}" style="width:150px;">
  <p>{{image.name}}</p>
{% endfor %}
