{% extends 'app/base.html' %}
{% load static %}





{% block contenido %}

<main class="main">



  <div class="contenedor">
    <form action="" name="form_lol" id="form_lol" class="form_lol" method="post">

        {% csrf_token %}
        {{ form}}



        <br>
        <button type="submit" id="botonAceptar" class="botonAceptar" value="botonAceptar"> Comienza Ahora!!</button>

        <br>
        <br>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}

    </form>
  </div>
  <br>
  <div class="liga">
    <img src="{% static 'app/images/qs/lol-ligas.jpg'%}">
  </div>

</main>

{% endblock %}

{% block js %}

<--!script src="{% static 'app/js/validar_formulario.js' %}"></script--!>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

{% endblock %}
